{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
{% if error %}
KEKW
{% endif %}
<div class="d-flex justify-content-center">
    <form class="center-block" method="POST">
        {% csrf_token %}
        <h2>Login</h2>

        <div>
            {{form.as_p}}
        </div>
        <input class="button mt-3" type='submit' value='Login'>
    </form>
    <p>Don't have an account yet? <a href="{% url 'authentication:register-view'%}">Register</a></p>
</div>
{% endblock content %}