{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quizes/main.js' %}" defer></script>
    <script type="text/javascript">
        function quizCreateFunction(url){
            $('#quizCreateModal').load(url, function(){
                $(this).modal('show');
            })
        }
    </script>
{% endblock scripts %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

<div class="justify-content-center">
    Quizes Available: {{quiz_count}}

    <a href="{% url 'authentication:logout-view' %}"  class="btn btn-dark btn-lg mb-1 float-right">
        Logout
    </a>
    <button onclick="quizCreateFunction('{% url 'quizes:quiz-create-view' %}')"  class="btn btn-info btn-lg mr-4 float-right">
        Create a Quiz
    </button>
    <div>
        <h1>Quizes:</h1>
    </div>
</div>
<hr>


<!-- Quiz Create Modal -->
<div class="modal fade" id="quizCreateModal" role="dialog">
</div>

<!-- Quiz Info Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Test Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body" id="modal-body-confirm"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="button" id="start-button" class="btn btn-success">Start the Test</button>
        </div>
        </div>
    </div>
</div>


<!-- Quizes -->
{% for obj in object_list %}
<h5>#{{forloop.counter}}</h5>
<h4>{{obj.name}}</h4>
<button 
    class="btn btn-success modal-button"
    data-pk="{{obj.pk}}"
    data-quiz="{{obj.name}}"
    data-questions="{{obj.number_of_questions}}"
    data-difficulty="{{obj.difficulty}}"
    data-time="{{obj.time}}"
    data-pass="{{obj.required_score_to_pass}}"
    data-toggle="modal" 
    data-target="#quizStartModal">
    Click to see more info
</button>
<button data-toggle="modal" data-target="#quizDeleteModal" class="btn btn-danger btn-sm mb-1 float-right">
    Delete Quiz
</button>
<br>
<hr>


<!-- Quiz Delete Modal -->
<div class="modal fade" id="quizDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete the Quiz</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body" id="modal-body-confirm">
            Are you sure you want to delete this quiz?

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Nevermind</button>
            <form id="my_form" method="post" action="{% url 'quizes:quiz-delete-view' obj.pk %}">
                {% csrf_token %}
            </form>
            <a onclick="document.getElementById('my_form').submit();"><button class="btn btn-dark">Yes, I'm sure</button></a>
        </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}